body {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  color: #044a42;
}

a {
  color: #1d4944;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}

.App-footer-link:hover {
  color: #022b26;
}
