.Meaning h3 {
  font-size: 24px;
  font-weight: bold;
  height: 1.5;
}

.Meaning .definition {
  font-size: 18px;
  height: 1;
}

.Meaning .example {
  font-size: 14px;
  height: 1;
  font-style: italic;
}
